<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas Diarias</title>
</head>
<body>
    
    <div class="content">
        <div class="title">
            
            <h1>Tarefas Diarias</h1>

        </div>

        <div class="app-container">

            <div class="input-task">
                
                <form action="">
                    
                    <input name="input-task" placeholder="Qual a sua proxima tarefa?" type="text">
                    <input name="input-descricao" placeholder="Descreva ela" type="text">

                </form>

            </div>
    
            <div class="tasks">
    
                <%= %>

            </div>
            
        </div>


    </div>
</body>
</html>